*{
    margin: 0;
    padding: 0;
    
}
body{
    margin: 0;
    /* padding: -1; */
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color:   black ;
    /* background-color: hsl(0,0%,15%); */
    background-image: url(p1.jpg);
    background-position: center;
    background-size: cover;
   
}


#calculator{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    border-radius: 10px;
    max-width: 300px;
    overflow: hidden;
}
#calculator h1{
    justify-content: center;
    text-align: center;
    color: wheat;
    font-size: 22px;
    padding: 5px;
}

#display{
    width: 100%;
    /* padding: 5px; */
    font-size: 3rem;
    text-align: right;
    border: none;
    background-color: hsl(0,0%,20%);
    color: rgb(235, 144, 60);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 20px;
}

.equal {
    grid-column: span 2;
    width: 100%;
    border-radius: 30px;
  }
button{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    border: none;
    background-color: hsl(0,0%,30%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    
}

button:hover{
    background-color: rgb(209, 159, 19);
    /* transition: 1s; */
}

button:active{
    background-color: rgb(197, 201, 65);
}

.operator-btn{
    background-color: rgb(167, 129, 59);
}
/* 
@media only screen and (max-width: 767px) {
    
    body {
        font-size: 14px;
        padding: 10px;
    }
} */